
<footer class="footer"> <img class="img-foot" src="/css/img/LogoPrincipal.jpg" alt="Genesis y Bienes Raíces">
  <div class="menu">
    <ol class="list-items">
      <li class="item"> <i class="icon ion-logo-facebook"></i><a href="#">Facebook</a></li>
      <li class="item"> <i class="icon ion-logo-instagram"></i><a href="#">Instagram</a></li>
      <li class="item"> <i class="icon ion-md-mail"></i><a href="#">Contactanos</a></li>
      <li class="item"> <i class="icon ion-md-person"></i><a href="#">Iniciar Sesión</a></li>
      <li class="item"> <i class="icon ion-md-person-add"></i><a href="#">Registrarse </a></li>
    </ol>
  </div>
</footer>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"> </script>
<script src="load.js" type="module"> </script>

</html>